#btnSave{
    cursor: pointer;
}
form{
    margin-bottom: 10px;
}
table{
    background-color: white;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: antiquewhite;
}